.ChatMain
  .ChatHeader
    .ChatHeader__group
      = @group.name
      %ul.ChatHeader__groupname
        Member :
        %li.ChatHeader__menbername
        - @group.users.each do |user|
          = user.name
    .ChatHeader__edit
      =link_to edit_group_path(@group), class: "ChatHeader__editbtn" do
        Edit

  .MessageField
    = render @messages

  .Form
    = form_with model: [@group, @message], html: {class: "ChatForm"}, local: true do |f|
      .ChatForm__content
        = f.text_field :content, class: 'ChatForm__input', placeholder: 'type a message'
        = f.label :image, class: 'ChatForm__inputImage' do
          = icon('far', 'image', class: 'icon-image')
          = f.file_field :image, class: 'Image'
      = f.submit 'SEND', class: 'ChatForm__submit'