.ChatMain
  .ChatHeader
    .ChatHeader__group
      test
      %ul.ChatHeader__groupname
        Member :
        %li.ChatHeader__menbername
          ユーザー名
    .ChatHeader__edit
      = link_to 'Edit', "#", class: "ChatHeader__editbtn"

  .MessageField
    = render @messages

  .Form
    = form_with model: [@group, @message], html: {class: "ChatForm"}, local: true do |f|
      .ChatForm__content
        = f.text_field :content, class: 'ChatForm__input', placeholder: 'type a message'
        = f.label :image, class: 'ChatForm__inputImage' do
          = icon('far', 'image', class: 'icon-image')
          = f.file_field :image, class: 'Image'
      = f.submit 'SEND', class: 'ChatForm__submit'


