.SideBer
  .Header
    .HeaderList
      %h3.HeaderList__userName
        = current_user.name
      %ul.HeaderList__iconlist
        %li.HeaderList__icon
          = link_to "#", class: "icon" do
            = icon('far', 'edit')
        %li.HeaderList__icon
          = link_to edit_user_path(current_user), class: "icon" do
            = icon('fas', 'cog')
  .Group
    .GroupList
      .GroupList__name
        techcamp
      .GroupList__message
        まだメッセージがありません
    .GroupList
      .GroupList__name
        techcamp
      .GroupList__message
        まだメッセージがありません